* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: linear-gradient(white, black) ;
    font-family: 'Poppins', sans-serif;
}
h3{
    color: black;
    line-height: 45px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    
}
header {
    background-color: black;
    width: 100%;
    height: 100px;
    
}
#sidebar {
    position: fixed;
    width: 30%;
    height: fit-content;
    left: -30%;
    background-color: black;
    
}

#sidebar li {
    color: white;
    list-style: none;
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid grey;
    text-align: center;
    transition: 1.6s; 
}
#sidebar li a {
    text-decoration: none;
    color: white;
    
}
.toggle-btn {
    position: absolute;
    left: 104%;
    top: 30px;
}
.toggle-btn span {
    display: block;
    background-color:white;
    width: 25px;
    height: 5px;
    margin: 3px;
}

#sidebar.active {
    left: 0;
}
.intro  {
    margin: 100px 15px;
    padding: 0 0 40px 0;
    border-radius: 20px;
 
}
.image {
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
.image img {
    border-radius: 50%;
}
 p {
    text-align: center; 
    padding: 20px 5%;
    color: black;
    letter-spacing: 1px;
}
.about p span {
    color: #9c1de7;
}
.skills {
    max-width: none;
    margin: 100px 15px;
    padding: 20px 15px 40px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    width: 90%;
    color: black;
    font-size: 20px;
}
.skills h4 {
    display: inline;
}
.skills p {
    float: right;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.skills li {
    margin: 20px 0;
    list-style: none;
}
.bar {
    background: #353b48;
    margin: 10px 0;
    display: block;
    height: 15px;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 6px #4b0375;
}
.bar span {
    height: 14px;
    float: left;
    background-color: #9c1de7;
}
.html {
    width: 60%;
    animation: html 5s;
}
.css {
    width: 40%;
    animation: css 5s;
}
.javascript {
    width: 20%;
    animation: javascript 5s;
}
@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}
@keyframes javacript {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
.hobbies {
   
    margin: 100px 15px;
    padding: 40px 0 40px 0;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.hobbies ul{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hobbies li {
    font-size: 5rem;
    color: white;
    line-height: 5rem;
    list-style: none;
}
.hobbies li p {
    font-size: 2rem;
    margin: 0px 0;
    text-align: center;
    color: black;
    max-width: 150px;
    line-height: 40px;
}
.hobbies-icon {
    border: 1px solid #4b0375;
    background-color: #9c1de7;
    padding: 10px;
    margin: 10px 0;
}
.book-reader {
    margin: 10px 17px;
}
.container {
   
    margin: 100px 15px;
    padding: 40px 0 40px 0;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container h3 {
    margin-bottom: 20px;
    font-size: 35px;
}
.card {
    border: none;
    margin: 30px auto; 
}
.card-title {
    font-size: 22px;
    margin: 10px;
}

.btn  {
   background-color: #9c1de7;
   color: white;
   text-decoration: none;
   margin: 10px;
   padding: 5px 15px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer li {
    list-style: none;
    font-size: 2rem;
    margin: 20px 20px;
}
footer li a {
    color: #d6d4d4;
}
.phone {
    color: #d6d4d4;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.last {
    font-size: 12px;
    height: 60px;
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.desktop {
    display: none;
}
.desktop1 {
    display: none;
}
@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
    .mobile1 {
        display: none;
    }
    .desktop1 {
        display: block;
    }

    .desktop {
        display: inline-block;
        position: fixed;
    }

    .desktop ul {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        column-gap: 90px;
        margin: 35px 0% 10px 65%;
    }

    .desktop ul li {
        list-style: none;  
    }

    .desktop ul li a{
        color: white;
        text-decoration: underline white;
        text-transform: uppercase;
        text-decoration-style: wavy;
        text-decoration-thickness: 1px;
        
    }

    .intro {
        display: flex;
        max-width: 1000px;
        margin: 80px auto 0 auto;
    }

    .image {
        padding: 0px 0% 40px 3%;
        margin: 20px;
    }

    .intro h3 {
        padding-top: 35px;
    }
    .skills {
        max-width: 1000px;
        margin: 0px auto;
        padding: 40px 15px 0px 15px;
        box-shadow: none;
    }
    .container {
        box-shadow: none;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }
    .col-4 {
        margin: 0 15px;
    }
    .hobbies {
        max-width: 900px;
        margin: -60px auto 60px auto;
    padding: 30px 0 0 0;
    box-shadow: none;
    }
    .hobbies ul {
        display: flex;
        flex-direction: row;
        column-gap: 55px;
    }
    .hobbies-icon {
        padding: 10px;
        margin: 0;
    }
    .book-reader {
        margin: 33px 0 0 0;
    }
    

}